@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
   
}

body {
    display: flex;
    justify-content: center;

    background-color: #ededed;
}

main {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 10px;

    width: 80%;
    background-color: #fff;
}

/**/

.textStyle img {
    width: 60%;
}

.textStyle .yellowBlock {
    width: 90%;
}

.yellowBlock {
    position: relative;
    height: 60px;
}

.yellowBlock > img{
    position: absolute;
    top: 50%;
}

#yellowBlockBlack._anim-items {
    top: 60%;
    left: 5%;
    opacity: 0;

    transition: all .5s ease;
}

#yellowBlockBlack._anim-items.active-anime {
    top: 35%;
    left: -5%;
    opacity: 1;
}

.blueBlock{
    position: inherit;
    width: 90%;
    margin: 2rem 0rem 2rem 0rem;
}

.blueBlock._anim-items{

    opacity: 0;
    transition: opacity .4s ease;
}

.blueBlock._anim-items.active-anime{
    opacity: 1;
}

main > img {
    position: absolute;
    width: 10%;
}

.blueWaves._anim-items {
    top: 30%;
    left: -30%;

    transition: all 1s ease-in-out;
}

.blueWaves._anim-items.active-anime {
    left: 0%;
}

.aLotOfDots._anim-items {
    top: 75%;
    left: 8%;
    width: 5%;

    transform: scale(0%, 0%);
    
    transition: all .7s ease;
    
}

.aLotOfDots._anim-items.active-anime {
    transform: scale(100%, 100%);
    animation: .7s ease-in-out forwards rotatingDots;
}

@keyframes rotatingDots {
    0% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.yellowTriangles._anim-items {
    top: 50%;
    right: 12%;
    width: 5%;
    opacity: 0;
    
    transition: all 1s ease-in-out;
}

.yellowTriangles._anim-items.active-anime {
    top: 70%;
    opacity: 1;
}

.redTriangle {
    right: 0%;
    top: 20%
}

.redWaves {
    top: 180%;
    right: 13%;
    width: 13%;
}

.redRoundedWaves {
    top: 135%;
    left: 5%;
}

.yellowVerticalBlock {
    width: 7%;  
}

.yellowVerticalBlock._anim-items{
    top: 190%;
    left: 7%;

    transition: top 1s ease, left 1s ease;
}

.yellowVerticalBlock._anim-items.active-anime{
    top: 181%;
    left: 11%;
}

.yellowVerticalBlockBlack{
    left:10%;
    top: 183%;
}

.yellowVerticalBlock2 {
    width: 8%;
    
}

.yellowVerticalBlock2._anim-items{
    top: 238%;
    right: 15%;
    z-index:1;
    transition: top 1s ease, right 1s ease;
}

.yellowVerticalBlock2._anim-items.active-anime{
    top: 247%;
    right: 18%;
}

.yellowVerticalBlockBlack2{
    z-index:2;
    top: 243%;
    right: 17%;
}

.redRoundedWaves2 {
    top: 340%;
    left: 5%;
}

.blueWaves2 {
    top: 370%;
    right: 10%;
}

.redWaves2 {
    top: 220%;
    left: 15%;
    width: 13%;
    z-index: 3;
}

.aLotOfDots2 {
    top: 290%;
    right: 25%;
    width: 8%;

    z-index: 3;
}

.yellowTriangles2._anim-items{
    top: 260%;
    opacity: 0;

    left: 13%;
    width: 5%;
    z-index: 3;

    transition: top .5s ease, opacity .5s ease;
}

.yellowTriangles2._anim-items.active-anime{
    top: 280%;
    opacity: 1;
}

.redTriangle2 {
    left: 5%;
    top: 370%
}

.angle2 {
    top: 330%;
    right: 5%;
}

.angle {
    top : 125%;
    right: 5%;
}

.toolsPos {
    top: 205%;
    width: 70%;
}

/**/

.infoContent {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.contacts > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    margin-top: 1rem;
}

.contacts > div > img {
    width: 5%;
}

.textStyle {
    padding: 20px;
    width: 40%;
    box-sizing: border-box;
}

.textStyle > div {
    margin: 20px 0px 20px 0px;
}

.textStyle h4{
    font-size: 24px;
    color: #ED6A6D;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.textStyle h4._anim-items {
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.textStyle h4._anim-items.active-anime{
    opacity: 1;
    transform: translate(0px, 0px);
}

.nameText > h4:first-child {
    margin: 0px;
    transform: translate(-100%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
} 

.nameText > h4:first-child.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.nameText > h4:nth-child(2) {
    transform: translate(100%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
} 

.nameText > h4:nth-child(2).active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.nameText > p.myPosition._anim-items {
    transform: translate(0px, 20%);
    opacity: 0;
    transition: all 0.4s ease 0.6s;
} 

.nameText > p.myPosition._anim-items.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.textStyle .subtitle h4{
    font-size: 18px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.textStyle p{
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.textStyle p._anim-items {
    transform: translate(100%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.textStyle p._anim-items.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
}

.subtitle > p._anim-items{
    transform: translate(50%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.subtitle > p._anim-items.active-anime{
    transform: translate(0px, 0px);
    opacity: 1;
}

.contacts div._anim-items {
    transform: translate(60%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.contacts > div._anim-items.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
}

/**/

.nameText h4{
    font-size: 50px;
    width: 50px;
}

.nameText p{
    font-size: 24px;
    margin-left: -60px;
    margin-top: -20px;
}

/**/

.hobbies {
    width: 80%;
}

.hobbiesList {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.hobbiesList > div {
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.hobbiesList > div > p {
    font-size: 17px;
}

.hobbiesList > div > img {
    max-width: 200px;
    font-size: 17px;
}

.hobbiesList p._anim-items {
    transform: translate(0px, 100%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.7s ease;
}

.hobbiesList img._anim-items {
    transform: scale(0);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.hobbiesList p._anim-items.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
}

.hobbiesList img._anim-items.active-anime {
    transform: scale(1);
    opacity: 1;
}

/**/

.skills {
    width: 80%;
}

.skillsList {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.skillsList > ul > li{
    margin: 20px 0px 20px 0px;
    padding: 0px 10px 0px 10px;
    list-style-image: url(src/Ellipse1.svg);
}

.skillsList > ul > li > p {
    font-size: 18px;
    
}

.skillsList._anim-items > ul > li > p {
    transform: translate(200%, 0px );
    opacity: 0;
    transition: all 0.7s ease;
}

.skillsList._anim-items.active-anime > ul > li > p {
    transform: translate(0px, 0px);
    opacity: 1;
}

/**/

.tools {
    width: 80%;

    background-image: url("src/wrapper.svg");
    background-repeat: no-repeat;    
    background-size: 100% 100%;

    padding: 95px 20px 120px 20px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.toolsList {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    padding: 0px 70px 60px 0px;
}

.toolsList > div {
    margin: 10px;
}

.bar {
    position: relative;
    min-width: 200px;
    min-height: 10px;
    border: 3px solid black;
}

.fillBar {
    position: absolute;
    background-color: #5ebfbc;
    min-height: 100%;
}

.tools._anim-items > .toolsList > .subtitle > .bar > .fillBar {
    width: 0%;
    transition: width 2s ease-in-out;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(1) > .bar > .fillBar {
    width: 45%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(2) > .bar > .fillBar._anim-items.active-anime {
    width: 80%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(3) > .bar > .fillBar {
    width: 25%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(4) > .bar > .fillBar {
    width: 70%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(5) > .bar > .fillBar {
    width: 27%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(6) > .bar > .fillBar {
    width: 50%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(7) > .bar > .fillBar {
    width: 50%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(8) > .bar > .fillBar {
    width: 60%;
}

/**/

.personalInfo {
    margin-top: 4rem;
    width: 80%;
}

.infoList {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
}

.infoList > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.infoList._anim-items > div > div {
    opacity: 0;
    transform: translate(120%, 0px);
    transition: all 0.7s ease;
}

.infoList._anim-items.active-anime > div > div {
    opacity: 1;
    transform: translate(0px, 0px);
}

.infoList._anim-items > div > p {
    opacity: 0;
    transform: translate(-120%, 0px);
    transition: all 0.7s ease;
}

.infoList._anim-items.active-anime > div > p {
    opacity: 1;
    transform: translate(0px, 0px);
}

/**/

.declaration {
    width: 80%;
    height: 30rem;

    justify-content: space-around;
    display: flex;
    flex-flow: column nowrap;
}

.declaration > p {
    font-size: 17px;
}

.declaration > div:last-child {
    display: flex;
    flex-flow: column nowrap;   
    align-items: center;
}

.satodsan-uvemopag._anim-items {
    overflow: hidden;
    border-right: .17em solid gray;  
    white-space: nowrap; 
}

.satodsan-uvemopag._anim-items.active-anime {
    animation: typing 3s steps(30, end) forwards;
}

@keyframes typing {
    from { width: 0 }
    99%{border-right: .17em solid gray}
    to { width: 60%; border-right: .17em solid transparent;}
}

/**/

@media only screen and (max-width: 600px) {

    .toolsList > .subtitle > .bar {
        max-width: 150px;
        min-width: 150px;
    }

    .textStyle {
        width: 80%;
    }

    .infoContent {
        flex-wrap: wrap;
    }

    .hobbiesList {
        justify-content: center;
    }

    .skillsList {
        justify-content: left;
    }
    
    .nameText h4{
        font-size: 30px;
    }

    .nameText p{
        font-size: 20px;
    }
    
    
}
 
@media only screen and (min-width: 600px) {

    .toolsList > .subtitle > .bar {
        max-width: none;
        min-width: 200px;
    }

    .textStyle {
        width: 80%;
    }

    .infoContent {
        flex-wrap: wrap;
    }

    .nameText h4{
        font-size: 50px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    .nameText p{
        font-size: 24px;
    }

    .hobbiesList {
        justify-content: center;
    }

    .skillsList {
        justify-content: space-between;
    }
}
 
@media only screen and (min-width: 768px) {

    .infoContent {
        flex-wrap: nowrap;
    }
    .nameText h4{
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
    }
    .hobbiesList {
        justify-content: space-between;
    }
}
 
@media only screen and (min-width: 889px) {

}
 
@media only screen and (max-width: 1028px) {
    .toolsList {
        justify-content: center;
    }

    .satodsan-uvemopag._anim-items {
        white-space: normal;
    }
}

@media only screen and (min-width: 1028px) {
    .satodsan-uvemopag._anim-items {
        white-space: nowrap;
    }
}

@media only screen and (min-width: 1200px) {

    .toolsList {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1536px) {
    .tools {
        background-image: none;
    }

    .double-border {
        background-color: rgb(255, 255, 255);
        border: 4px solid rgb(0, 0, 0); 
        position: relative;
        padding: 10px 0px;
        z-index: 0;
        box-shadow: 30px 30px 0px 0px #000;
    }

    .double-border:before {
        z-index: 0;
        background: none;
        border: 4px dotted rgb(0, 0, 0);
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: 8px;
        right: 8px;
        bottom: 8px;
        pointer-events: none;
    }

    .toolsList {
        padding: 0px;
    }

}

@media only screen and (min-width: 1536px) {

    .toolsList {
        padding: 0px 70px 60px 0px;
    }

    .tools {
        background-color: transparent;
        border: none;
        border-radius: 0%;
        background-image: url("src/wrapper.svg");
        background-repeat: no-repeat;    
        background-size: 100% 100%;
    
        padding: 95px 20px 120px 20px;
    }

    .double-border {
        box-shadow: none;
        border: none;
    }

    .double-border:before {
        border: none;
    }

    .satodsan-uvemopag._anim-items {
        white-space: nowrap;
    }
}