@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

element {
    --margin-figure: 30px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;

    flex-flow: column nowrap;
}

main {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 10px;

    width: 80%;
    background-color: #fff;
}

/* .bgChoose {
    background-color: #5ebfbc56;
    border-radius: 15px;
    border-width: solid 60px #5ebfbc56;
} */

.interval-animation > div:nth-child(1) > img {
    transform: translate(0px, 0px);
    animation: 3s infinite ease-in-out scaling;
}

.interval-animation > div:nth-child(2) > img {
    transform: translate(0px, 0px);
    animation: 3s infinite ease-in-out scaling2;
}

.interval-animation > div:nth-child(3) > img {
    transform: translate(0px, 0px);
    animation: 3s infinite ease-in-out scaling;
}

@keyframes scaling {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(1px, 0px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    75% {
        transform: translate(-1px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes scaling2 {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(-1px, 0px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    75% {
        transform: translate(1px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
/**/

.yellow-block {
    position: relative;
    height: 60px;
}

.yellow-block img {
    min-width: 30%;
}

.yellow-block > img{
    position: absolute;
    top: 50%;
}

.yellow-block > img:first-child._anim-items{
    position: absolute;
    top: 50%;

    opacity: 0;
    transition: opacity .5s ease;
}

.yellow-block > img:first-child._anim-items.active-anime{
    opacity: 1;
}

#yellow-block-black._anim-items {
    top: 60%;
    left: 5%;
    opacity: 0;

    transition: all .5s ease;
}

#yellow-block-black._anim-items.active-anime {
    top: 35%;
    left: -5%;
    opacity: 1;
}

.blue-block{
    position: inherit;

    max-width: 100%;
    min-width:90%;

    margin: 2rem 0rem 2rem 0rem;
}

.blue-block._anim-items{
    opacity: 0;
    transition: opacity .4s ease;
}

.blue-block._anim-items.active-anime{
    opacity: 1;
}

.blue-waves > div > ._anim-items {
    position: absolute;
    max-width: 70%;
    min-width: 15%;
    left: -50%;
    opacity: 0;

    transition: left 1s ease-in-out, opacity 1s ease-in-out;
}

.blue-waves > div > ._anim-items.active-anime {
    left: -20%;
    opacity: 1;
}

.blue-waves-second._anim-items{
    top: 15px;
    left: 30%;
}

.blue-waves-second._anim-items.active-anime {
    left: -20%;
}

.a-lot-of-dots._anim-items {
    position: absolute;
    min-width: 10%;

    top: 10%;
    left: -10%;
    opacity: 0;

    transition: all .7s ease;
}

.a-lot-of-dots._anim-items.active-anime {
    left: -20%;
    opacity: 1;
}

.black-dotes._anim-items {
    top: -4px;
    left: -10.8%;
    opacity: 0;
}

.black-dotes._anim-items.active-anime {
    top: -4px;
    left: -20.8%;
    opacity: 1;
}

.yellow-triangles._anim-items {
    position: absolute;

    top: 70px;
    right: -23%;
    width: 15%;
    opacity: 0;
    
    transition: all 1s ease-in-out;
}

.black-triangles._anim-items {
    right: -20%;
}

.yellow-triangles._anim-items.active-anime {
    top: 30px;
    opacity: 1;
}

.red-triangle._anim-items {
    position: absolute;
    min-width: 10%;
    max-width: 10%;
    right: -18%;

    opacity: 0;
    transform: scale(0%, 0%);
    transition: opacity .5s ease, transform .5s ease;
}

.red-triangle._anim-items.active-anime { 
    transform: scale(100%, 100%);
    opacity: 1;
}

.red-triangle.border-triangle._anim-items {
    right: -25%;
    top: -8px;
    transition: right .5s ease, top .5s ease;
}

.red-triangle.border-triangle._anim-items.active-anime {
    right: -20%;
    top: -10px;
}

.red-waves > div > ._anim-items{
    position: absolute;
    top: 0%;
    right: -20%;
    min-width: 18%;
    opacity: 0;

    transition: right .5s ease, opacity .5s ease;
}

.red-waves > div > ._anim-items.active-anime {
    right: -13%;
    opacity: 1;
}

.red-waves > div:nth-child(2) > ._anim-items {
    top: 13px;
    right: -6%;
}

.red-waves > div:nth-child(2) > ._anim-items.active-anime {
    right: -13%;
}

.red-waves > div:nth-child(3) > ._anim-items{
    top: 26px;
}

.red-waves > div:nth-child(3) > ._anim-items.active-anime {
    right: -13%;
}

.angle {
    position: absolute;
    min-width: 20%;
}

.angle._anim-items {
    right: -10%;
    top: 50px;
    
    opacity: 0;
    transition: opacity .5s ease;
}

.angle._anim-items.active-anime {
    opacity: 1;
}

.angle.black-angle._anim-items {
    right: -18%;
    top: 40px;
    transition: all 0.5s ease;
}

.angle.black-angle._anim-items.active-anime {
    right: -8%;
}

.yellow-vertical-block {
    position: absolute;
    width: 7%;  
}

.yellow-vertical-block._anim-items{
    top: 0px;
    left: -13%;

    transition: top 1s ease, left 1s ease;
}

.yellow-vertical-block._anim-items.active-anime{
    top: -30px;
    left: -17%;
}

.yellow-vertical-block-black{
    left: -15%;
    top: -20px;
}

.yellow-vertical-block-2 {
    z-index: 5;
    position: absolute;
    min-width: 8%;
    right: -3%;
    top: 510px;
}

.yellow-vertical-block-2._anim-items{
    right: -33%;
    transition: top 1s ease, right 1s ease;
}

.yellow-vertical-block-2._anim-items.active-anime{
    top: 480px;
    right: -30%;
}

.yellow-vertical-block-black-2{
    z-index: 6;
    top: 490px;
    right: -33%;
}

.red-rounded-waves > div >  ._anim-items {
    position: absolute;
    min-width: 15%;
    left: -30%;
    opacity: 0;

    transition: left .5s ease, opacity .5s ease;
}

.red-rounded-waves > div > ._anim-items.active-anime {
    left: -20%;
    opacity: 1;
}

.red-rounded-waves-second._anim-items {
    top: 15px;
    left: -10%;
}

.red-rounded-waves-second._anim-items.active-anime {
    left: -20%;
}

.red-rounded-waves-2> div > ._anim-items {
    position: absolute;
    min-width: 15%;
    left: -50%;
    opacity: 0;

    transition: left .5s ease, opacity .5s ease;
}

.red-rounded-waves-2> div > ._anim-items.active-anime {
    left: -20%;
    opacity: 1;
}

.red-rounded-waves-second-2._anim-items {
    top: 15px;
    left: -10%;
}

.red-rounded-waves-second-2._anim-items.active-anime {
    left: -20%;
}

.blue-waves-2 > div > ._anim-items {
    position: absolute;
    min-width: 20%;
    opacity: 0;
    right: -40%;

    transition: right .5s ease, opacity .5s ease;
}

.blue-waves-2 > div > ._anim-items.active-anime {
    right: -20%;
    opacity: 1;
}

.blue-waves-second-2._anim-items {
    top: 20px;
    right: 0%;
}

.blue-waves-second-2._anim-items.active-anime {
    right: -20%;
}

.red-waves-2 > div > ._anim-items {
    z-index: 2;
    position: absolute;
    top: 280px;
    left: -20%;
    min-width: 17%;
    opacity: 0;

    transition: left .5s ease, opacity .5s ease;
}

.red-waves-2 > div > ._anim-items.active-anime {
    left: -10%;
    opacity: 1;
}

.red-waves-2 > div:nth-child(2) > ._anim-items {
    top: 293px;
    left: 0%;
}

.red-waves-2 > div:nth-child(2) > ._anim-items.active-anime {
    left: -10%;
}

.red-waves-2 > div:nth-child(3) > ._anim-items{
    top: 306px;
}

.red-waves-2 > div:nth-child(3) > ._anim-items.active-anime {
    left: -10%;
}

.a-lot-of-dots-2._anim-items{
    position: absolute;

    top: 0px;
    right: -10%;
    min-width: 10%;
    opacity: 0;

    transition: all .5s ease;
}

.a-lot-of-dots-2._anim-items.active-anime{
    right: -20%;
    opacity: 1;
}

.black-dotes-2._anim-items {
    right: -9.5%;
    top: -5px;
    opacity: 0;
}

.black-dotes-2._anim-items.active-anime {
    opacity: 1;
    right: -19.5%;
}

.yellow-triangles-2._anim-items{
    position: absolute;

    top: -20px;
    opacity: 0;

    left: -10%;
    min-width: 8%;

    transition: top .5s ease, opacity .5s ease;
}

.yellow-triangles-2._anim-items.active-anime{
    opacity: 1;
    top: 0px;
}

.black-triangles-2._anim-items {
    left: -12%;
    top: 20%;
}

.red-triangle-2._anim-items {
    position: absolute;
    left: -20%;
    top: -48px;
    width: 14%;
    transform: scale(0%, 0%);
    opacity: 0;

    transition: opacity .5s ease, transform .5s ease;
}

.red-triangle-2._anim-items.active-anime {
    transform: scale(100%, 100%);
    opacity: 1;
}

.red-triangle-2.border-triangle._anim-items {
    left: -30%;
    top: -50px;
    width: 14%;

    transition: left .5s ease, top .5s ease;
}

.red-triangle-2.border-triangle._anim-items.active-anime {
    left: -15%;
}

.angle-2._anim-items{
    position: absolute;
    min-width: 15%;

    top: 0px;
    right: -30%;

    opacity: 0;
    transition: opacity .5s ease;
}


.angle-2._anim-items.active-anime {    
    opacity: 1;
}

.angle-2.black-angle._anim-items{
    top: 20px;
    right: -32%;
    transition: all 0.5s ease;
}

.angle-2.black-angle._anim-items.active-anime {
    top: -10px;
    right: -29%;
}

.tools-pos {
    position: absolute;
    top: 205%;
    min-width: 70%;
}

/**/
  .pismeco {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 1500px;
    min-height: 300px;
    padding: 24px;
    position: relative;
    width: 80%;
  }
  .pismeco:before, .pismeco:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .pismeco:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }
  .pismeco:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }

  .send-feedback {
    animation: 2s ease forwards 2s send-anim;
  }

  @keyframes send-anim {
    0% {
        transform: translate(0%, 0%);
    }

    100% {
        transform: translate(0%, 110%);
    }
  }

  .show-envelope {
    animation: 2s ease forwards show-envelope-anim, 1s ease 4s forwards positioning-envelope-anim;
  }

  .envelope-scaling {
    animation: 1s ease 4s forwards envelope-scaling-anim;
  }

  @keyframes show-envelope-anim {
    0% {
        transform: translate(0%, 400%);
    }

    100% {
        transform: translate(0%, 15%);
    }
  }

  @keyframes positioning-envelope-anim {
    0% {
        transform: translate(0%, 15%);
    }

    100% {
        transform: translate(0%, -150%);
    }
  }

  @keyframes envelope-scaling-anim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
  }

  .feedback{
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    z-index: 6;
    opacity: 0;
  }

  .empty-email {
    animation: 1s ease empty-email-anim;
  }

  @keyframes empty-email-anim {
    0% {
        border-color: red;
    }

    100% {
        border-color: black;
    }
  }

  .fixed-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 510%);
  }

  .envelope {
    position: relative;
    width: 100%;
    height: 110px;
  }

  .envelope__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .envelope__top > img {
    transition: 0.2s;
    transform: translateY(-139%);
    transform-origin: bottom;
  }

  .envelope__body {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
  }

  .envelope__backbody {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
  }

  .envelope__relative {
    position: relative;
    top: -70%;
  }

  .paper {
    background-color: #fff;
    width: 100px;
    height: 80px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    transform: translateY(-40px);
    transition: all 0.5s ease-in-out 5s;
    bottom: 0;
  }
  
  .envelope__top.envelope__top_close > img {
      transform: translateY(-139%) rotateX(180deg);
      z-index: 2;
  }

/**/

.relative-figures {
    position: relative;
}

.relative-figures-waves {
    position: relative;
}

/**/

.info-content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.info-content > div{
    display: flex;
    flex-flow: row wrap;
}

.info-content > div > div{
    width: 50%;
    margin: 10px 30px 10px 0px;
}

.contacts > div {
    display: flex;
    flex-flow: row wrap; 
    align-items: center;

    margin-top: 1rem;
}

.contacts > div > img {
    min-width: 4%;
    max-width: 8%;
}

.contacts > div > p {
    margin-left: 10px;
}

.margin-spacing > div{
    margin: 50px 0px;
}

.margin-spacing h4{
    font-size: 24px;
    color: #ED6A6D;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.margin-spacing h4._anim-items {
    opacity: 0;
    transform: translate(-50%, 0px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.margin-spacing h4._anim-items.active-anime{
    opacity: 1;
    transform: translate(0px, 0px);
}

.name-text > h4:first-child {
    margin: 0px;
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
} 

.name-text > h4:first-child.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.name-text > h4:nth-child(2) {
    transform: translate(50%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
} 

.name-text > h4:nth-child(2).active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.name-text > p.myPosition._anim-items {
    transform: translate(0px, 20%);
    opacity: 0;
    transition: all 0.4s ease 0.6s;
} 

.name-text > p.myPosition._anim-items.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.margin-spacing .subtitle h4{
    min-width: 100px;
    font-size: 18px;
    color: #000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.margin-spacing p{
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.personal-info p {
    min-width: 200px;
    margin-left: 10px;
}

.margin-spacing p._anim-items {
    transform: translate(20%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.margin-spacing p._anim-items.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
}

.subtitle > p._anim-items{
    transform: translate(50%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.subtitle > p._anim-items.active-anime{
    transform: translate(0px, 0px);
    opacity: 1;
}

.contacts div._anim-items {
    transform: translate(60%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.contacts > div._anim-items.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
}

/**/

.name-text h4{
    font-size: 50px;
    width: 50px;
}

.name-text p{
    font-size: 24px;
    margin-left: -60px;
    margin-top: -20px;
}

/**/

.hobbies-list {
    display: grid;

    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
}

.hobbies-list > div {
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.hobbies-list > div > p {
    font-size: 17px;
}

.hobbies-list > div > img {
    max-width: 150px;
    min-width: 50px;
    font-size: 17px;
}

.hobbies-list p._anim-items {
    transform: translate(0px, 100%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.7s ease;
}

.hobbies-list img._anim-items {
    transform: scale(0);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.hobbies-list p._anim-items.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
}

.hobbies-list img._anim-items.active-anime:hover {
    transform: scale(1.2);
}

.hobbies-list img._anim-items.active-anime {
    transform: scale(1);
    opacity: 1;
}

/**/

.skills {
    width: 80%;
}

.skills-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.skills-list > ul > li{
    margin: 20px 0px 20px 0px;
    padding: 0px 10px 0px 10px;
    list-style-image: url(src/Ellipse1.svg);
}

.skills-list > ul > li > p {
    font-size: 18px;
    
}

.skills-list._anim-items > ul > li > p {
    transform: translate(100%, 0px );
    opacity: 0;
    transition: all 0.7s ease;
}

.skills-list._anim-items.active-anime > ul > li > p {
    transform: translate(0px, 0px);
    opacity: 1;
}

/**/

.tools {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.double-border {
    background-image: url(src/horizontal.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.tools-list {
    display: grid;
    
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;

    column-gap: 50px;
}

.tools-list > div {
    margin: 10px;
}

.bar {
    box-sizing: content-box;
    position: relative;
    min-width: 100px;
    min-height: 10px;
    border: 3px solid black;
}

.fill-bar {
    position: absolute;
    background-color: #5ebfbc;
    min-height: 100%;
}

.tools._anim-items > .tools-list > .subtitle > .bar > .fill-bar {
    width: 0%;
    transition: width 1s ease-in-out;
}

.tools._anim-items.active-anime > .tools-list > .subtitle:nth-child(1) > .bar > .fill-bar {
    width: 45%;
}

.tools._anim-items.active-anime > .tools-list > .subtitle:nth-child(2) > .bar > .fill-bar._anim-items.active-anime {
    width: 80%;
}

.tools._anim-items.active-anime > .tools-list > .subtitle:nth-child(3) > .bar > .fill-bar {
    width: 25%;
}

.tools._anim-items.active-anime > .tools-list > .subtitle:nth-child(4) > .bar > .fill-bar {
    width: 70%;
}

.tools._anim-items.active-anime > .tools-list > .subtitle:nth-child(5) > .bar > .fill-bar {
    width: 27%;
}

.tools._anim-items.active-anime > .tools-list > .subtitle:nth-child(6) > .bar > .fill-bar {
    width: 50%;
}

.tools._anim-items.active-anime > .tools-list > .subtitle:nth-child(7) > .bar > .fill-bar {
    width: 50%;
}

.tools._anim-items.active-anime > .tools-list > .subtitle:nth-child(8) > .bar > .fill-bar {
    width: 60%;
}

/**/

.personal-info {
    margin-top: 4rem;
    width: 80%;
}

.info-list {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
}

.info-list > div {
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.info-list._anim-items > div > div {
    opacity: 0;
    transform: translate(120%, 0px);
    transition: all 0.7s ease;
}

.info-list._anim-items.active-anime > div > div {
    opacity: 1;
    transform: translate(0px, 0px);
}

.info-list._anim-items > div > p {
    opacity: 0;
    transform: translate(-120%, 0px);
    transition: all 0.7s ease;
}

.info-list._anim-items.active-anime > div > p {
    opacity: 1;
    transform: translate(0px, 0px);
}

/**/

.declaration {
    width: 80%;
    height: 20rem;

    justify-content: space-around;
    display: flex;
    flex-flow: column nowrap;
}

.declaration > p {
    font-size: 17px;
}
    
.satodsan-uvemopag {
    white-space: normal;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

/**/

.signature-block > div {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
}

/**/

.connection {
    display: flex;

    justify-content: center;
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #000;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #000;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #000;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #000;
}

input::placeholder, textarea::placeholder {
    color: #000;
    font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
    color: #000;
}

input::-ms-placeholder, textarea::-ms-placeholder {
    color: #000;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #000;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #000;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #000;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #000;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #000;
}

input:hover::placeholder, textarea:hover::placeholder {
    color: #000;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #000;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #000;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: rgb(255, 194, 194);
}

.reload-page {
    opacity: 0;
    position: absolute;
    margin: 0px auto 0px auto;

    background-image: url('src/reload.svg');
    background-size: cover;
    background-size: 100% 100%;
    min-width: 120px;
    min-height: 120px;
    bottom: 120px;

    cursor: pointer;
    transition: .5s;
}

.reload-page:hover {
    transform: rotate(45deg);
}

.show-reload-panel {
    animation: 1s ease forwards reload-show-anim;
}

@keyframes reload-show-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;  
    }
}

#form{
    position: relative;
    width: 208px;
    margin: 0px auto 0px auto;
    opacity: 0;  
    bottom: 120px;
}

.form-anim {
    animation: 1s ease 1.5s forwards form-animation;
}

.hide-form-panel {
    visibility: hidden;
    animation: 1s ease forwards hide-form-anim;
}

@keyframes hide-form-anim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;  
    }
}

@keyframes form-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;  
    }
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  max-width: 470px;
  min-width: 208px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: #fff;
  outline: none;
  color: #000;
  
  border: solid 3px rgba(255, 0, 0, 0.549);
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #000;
}

textarea {
  max-width: 470px;
  min-width: 270px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 3px #000;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #000;
}

#submit {
  max-width: 440px;
  min-width: 208px;
  
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #000;
  
  outline:none;
  cursor: pointer;
  
  border: solid 3px #000;
}

#submit:hover {
  color: #000;
}

#submit-btn {
    max-width: 440px;
  min-width: 208px;
  
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #000;
  
  outline:none;
  cursor: pointer;
  
  border: solid 3px rgba(255, 0, 0, 0.549);
  background: #d226299b;
}

#submit-btn:hover {
    color: rgba(221, 39, 39, 0.56);
    background: rgb(53, 45, 45);
}

/**/

@media only screen and (max-width: 400px) {

    .tools > h4 {
        margin-bottom: 0px;
        font-size: 15px;
    }

    .tools-list > .subtitle > h4 {
        font-size: 13px;
    } 

    .tools-list > .subtitle > .bar {
        max-width: 120px;
        min-width: 120px;

        max-height: 5px;
        min-height: 5px;
    }   

    .tools {
        padding: 40px 40px 90px 0px;
    }

    .double-border {
        background-image: url(src/vertical.svg);
    }

    .tools > h4 {
        margin-bottom: 0px;
    }

    .tools-list > div {
        margin: 1px 0px;
    }

    .tools-list {
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 12.5%);

        column-gap: 0px;
    }
}


@media only screen and (max-width: 600px) and (min-width: 400px) {
    .tools-list > .subtitle > .bar {
        max-width: 150px;
        min-width: 150px;
    }

    .double-border {
        background-image: url(src/vertical.svg);
    }

    .tools > h4 {
        margin-bottom: 0px;
    }

    .tools-list > div {
        margin: 1px 0px;
    }

    .tools-list {
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 12.5%);

        column-gap: 0px;
    }

    .tools {
        padding: 40px 60px 110px 0px;
    }
}

@media only screen and (max-width: 600px){    

    .margin-spacing {
        width: 80%;
    }

    .info-content > div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-content > div > div{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .hobbies-list {
        justify-content: center;
    }

    .skills-list {
        justify-content: center;
    }
    
    .name-text h4{
        font-size: 30px;
    }

    .name-text p{
        font-size: 20px;
    }

    .hobbies-list {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
    }

    main {
        width: 100%;
    }

    .name-text p{
        margin-left: 0;
    }
}
 
@media only screen and (min-width: 600px) {

    .tools-list > .subtitle > .bar {
        max-width: none;
        min-width: 200px;
    }

    .margin-spacing {
        width: 80%;
    }

    .info-content > div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-content > div > div{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .name-text h4{
        font-size: 50px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    .hobbies-list {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .name-text p{
        font-size: 24px;
    }

    .skills-list {
        justify-content: space-between;
    }

    main {
        width: 100%;
    }

    .name-text p{
        margin-left: -60px;
    }
}

@media only screen and (max-width: 821px){
    @keyframes envelope-scaling-anim {
        0% {
            transform: scale(1);
        }
    
        100% {
            transform: scale(1);
        }
    }

    @keyframes positioning-envelope-anim {
        0% {
            transform: translate(0%, 15%);
        }
    
        100% {
            transform: translate(0%, -100%);
        }
    }
}
 
@media only screen and (max-width: 821px) and (min-width: 600px){
    .double-border {
        background-image: url(src/vertical.svg);
    }

    .tools > h4 {
        margin-bottom: 0px;
    }

    .tools {
        padding: 40px 60px 110px 0px;
    }

    .tools-list > div {
        margin: 1px 0px;
    }

    .tools-list {
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 12.5%);

        column-gap: 0px;
    }
}

@media only screen and (min-width: 821px) {

    .info-content > div {
        flex-wrap: nowrap;
    }

    .info-content > div > div {
        flex-wrap: nowrap;
        width: 50%;
        justify-content: space-between;
    }
    .name-text h4{
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
    }

    main {
        width: 80%;
    }

}

@media only screen and (min-width: 821px) and (max-width: 1100px){
    .double-border {
        background-image: url(src/vertical.svg);
    }

    .tools > h4 {
        margin-bottom: 0px;
    }

    .tools {
        padding: 40px 60px 110px 0px;
    }

    .tools-list > div {
        margin: 1px 0px;
    }

    .tools-list {
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 12.5%);

        column-gap: 0px;
    }

    .hobbies-list {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
}

@media only screen and (min-width: 1100px) {

    .tools > h4 {
        margin-bottom: 0px;
    }

    .tools {
        padding: 30px 100px 100px 0px;
    }

    .tools-list {
        column-gap: 20px;
    }

    .tools-list > div {
        margin: 1px 0px;
    }

    .hobbies-list {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100%;
        column-gap: 5px;
    }
}

@media only screen and (min-width: 1300px) {

    .tools > h4 {
        margin-left: 50px;
        margin-bottom: 5px;
    }

    .tools {
        padding: 30px 140px 100px 0px;
    }

    .tools-list {
        column-gap: 70px;
    }

    .tools-list > div {
        margin: 5px 0px;
    }
}

@media only screen and (max-width: 1536px) {
    
}

@media only screen and (min-width: 1536px) {

    .tools-list {
        column-gap: 100px;
    }

    .tools > h4 {
        margin-left: 80px;
        margin-bottom: 15px;
    }

    .tools {
        padding: 30px 170px 120px 0px;
    }
}