@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    
}

body {
    display: flex;
    justify-content: center;

    background-color: #ededed;
}

main {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 10px;

    width: 80%;
    background-color: #fff;
}
/**/

.item {
    transform-style: preserve-3d;
    
    perspective: 0.055px;
    perspective-origin: 50% 100%;
    
    margin-top: 8vh;
    margin-bottom: 8vh;
  }
  
  .item, .card, .shadow {
    height: 25vh;
    max-height: 200px;
  }
  
  
  .card {
    width: 100%;
  }
  
  .card::after, .shadow {
    width: 85vw;
    max-width: 600px;
  }
  
  .card:after {
    border-radius: 10px;
    content: "";
    display: block;
    margin-left:auto;
    margin-right:auto;
    height: 100%;
      
    background-color: white;
    box-shadow: 0px 0px 0.2vh 0px rgba(60,30,0,0.05);    
  }
  
  .shadow {
    top: 0;
    transform-origin: 50% 100%;
    
    margin-top: -100vh;
    transform: translateZ(-0.5px) scale(10) translateY(20px);
    
    margin-left:auto;
    margin-right:auto;
    
    background-color: transparent;
  }
  
  body.sticky .shadow {
    /* desktop safari gets funky if we use the position: sticky */
    position: -webkit-sticky;
  }
  
  .shadow:before {
    position: absolute;
    content: " ";
    top: 4.3vh;
    right: 4.3vh;
    bottom: 4.3vh;
    left: 4.3vh;
    z-index: -2;
  
    background-color: transparent;
    box-shadow: 
      2vh 2vh 4vh 3vh rgba(51,95,208,0.2),
      -2vh -2vh 4vh 3vh rgba(255,180,0,0.2);
  }

/**/
.textStyle .yellowBlock {
    position: relative;
    height: 60px;
}

.textStyle .yellowBlock img {
    min-width: 30%;
}

.yellowBlock > img{
    position: absolute;
    top: 50%;
}

.yellowBlock > img:first-child._anim-items{
    position: absolute;
    top: 50%;

    opacity: 0;
    transition: opacity .5s ease;
}

.yellowBlock > img:first-child._anim-items.active-anime{
    opacity: 1;
}

#yellowBlockBlack._anim-items {
    top: 60%;
    left: 5%;
    opacity: 0;

    transition: all .5s ease;
}

#yellowBlockBlack._anim-items.active-anime {
    top: 35%;
    left: -5%;
    opacity: 1;
}

.blueBlock{
    position: inherit;

    max-width: 100%;
    min-width:90%;

    margin: 2rem 0rem 2rem 0rem;
}

.blueBlock._anim-items{
    opacity: 0;
    transition: opacity .4s ease;
}

.blueBlock._anim-items.active-anime{
    opacity: 1;
}

.blueWaves._anim-items {
    position: absolute;
    max-width: 70%;
    min-width: 15%;
    left: -100%;

    transition: left 1s ease-in-out;
}

.blueWaves._anim-items.active-anime {
    left: -20%;
}

.aLotOfDots._anim-items {
    position: absolute;
    min-width: 10%;

    top: 10%;
    left: -20%;

    transform: scale(0%, 0%);
    transition: all .7s ease;
}

.aLotOfDots._anim-items.active-anime {
    transform: scale(100%, 100%);
}

.yellowTriangles._anim-items {
    position: absolute;
    display: block;

    top: 70px;
    right: -10%;
    width: 15%;
    opacity: 0;
    
    transition: all 1s ease-in-out;
}

.yellowTriangles._anim-items.active-anime {
    top: 30px;
    opacity: 1;
}

.redTriangle._anim-items {
    position: absolute;
    min-width: 10%;
    max-width: 10%;
    right: -18%;

    opacity: 0;
    transform: scale(0%, 0%);
    transition: opacity .5s ease, transform .5s ease;
}

.redTriangle._anim-items.active-anime { 
    transform: scale(100%, 100%);
    opacity: 1;
}

.redTriangle.borderTriangle._anim-items {
    right: -25%;
    top: -8px;
    transition: right .5s ease, top .5s ease;
}

.redTriangle.borderTriangle._anim-items.active-anime {
    right: -20%;
    top: -10px;
}

.redWaves._anim-items{
    position: absolute;
    top: 0%;
    right: -20%;
    min-width: 20%;

    transition: right .5s ease;
}

.redWaves._anim-items.active-anime {
    right: -13%;
}

.redRoundedWaves._anim-items {
    position: absolute;
    width: 15%;
    left: -30%;

    transition: left .5s ease;
}

.redRoundedWaves._anim-items.active-anime {
    left: -20%;
}

.yellowVerticalBlock {
    position: absolute;
    width: 7%;  
}

.yellowVerticalBlock._anim-items{
    top: 0px;
    left: -13%;

    transition: top 1s ease, left 1s ease;
}

.yellowVerticalBlock._anim-items.active-anime{
    top: -30px;
    left: -17%;
}

.yellowVerticalBlockBlack{
    left: -15%;
    top: -20px;
}

.yellowVerticalBlock2 {
    z-index: 5;
    position: absolute;
    width: 8%;
    right: -3%;
    top: 510px;
}

.yellowVerticalBlock2._anim-items{
    right: -8%;
    transition: top 1s ease, right 1s ease;
}

.yellowVerticalBlock2._anim-items.active-anime{
    top: 480px;
    right: -2%;
}

.yellowVerticalBlockBlack2{
    z-index: 6;
    top: 490px;
    right: -3%;
}

.redRoundedWaves2._anim-items {
    position: absolute;
    width: 15%;
    left: -50%;

    transition: left .5s ease;
}

.redRoundedWaves2._anim-items.active-anime {
    left: -20%;
}

.blueWaves2._anim-items {
    position: absolute;
    width: 20%;

    top: -100px;
    right: 20%;

    transition: right .5s ease;
}

.blueWaves2._anim-items.active-anime {
    right: -20%;
}

.redWaves2._anim-items {
    z-index: 2;
    position: absolute;
    top: 280px;
    left: -20%;
    width: 13%;

    transition: left .5s ease;
}

.redWaves2._anim-items.active-anime {
    left: -10%;
}

.aLotOfDots2._anim-items{
    position: absolute;

    top: 0px;
    right: -20%;
    width: 10%;

    transform: scale(0%, 0%);
    transition: all .5s ease;
}

.aLotOfDots2._anim-items.active-anime{
    transform: scale(100%, 100%);
}

.yellowTriangles2._anim-items{
    position: absolute;

    top: 0px;
    opacity: 0;

    left: -10%;
    width: 8%;

    transition: top .5s ease, opacity .5s ease;
}

.yellowTriangles2._anim-items.active-anime{
    top: -60px;
    opacity: 1;
}

.redTriangle2._anim-items {
    position: absolute;

    left: -20%;
    top: 0px;
    width: 10%;
    transform: scale(0%, 0%);
    opacity: 0;
    transition: opacity .5s ease, transform .5s ease;
}

.redTriangle2._anim-items.active-anime {
    transform: scale(100%, 100%);
    opacity: 1;
}

.redTriangle2.borderTriangle._anim-items {
    left: -30%;
    top: -10px;
    width: 10%;

    transition: left .5s ease, top .5s ease;
}

.redTriangle2.borderTriangle._anim-items.active-anime {
    left: -17%;
}

.angle2._anim-items{
    position: absolute;
    width: 10%;

    top: 0px;
    right: -17%;

    opacity: 0;
    transition: opacity .5s ease;
}


.angle2._anim-items.active-anime {    
    opacity: 1;
}

.angle2.blackAngle._anim-items{
    top: 20px;
    right: -19%;
    transition: all 0.5s ease;
}

.angle2.blackAngle._anim-items.active-anime {
    top: -10px;
    right: -16%;
}

.angle._anim-items {
    position: absolute;
    right: -10%;
    top: 50px;

    min-width: 20%;
    opacity: 0;
    transition: opacity .5s ease;
}

.angle._anim-items.active-anime {
    opacity: 1;
}

.angle.blackAngle._anim-items {
    right: -18%;
    top: 40px;
    transition: all 0.5s ease;
}

.angle.blackAngle._anim-items.active-anime {
    right: -8%;
}

.toolsPos {
    position: absolute;
    top: 205%;
    width: 70%;
}

/**/

.relativeFigures {
    position: relative;
}

/**/

.infoContent {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.infoContent > div{
    display: flex;
    flex-flow: row wrap;
}

.infoContent > div > div{
    width: 50%;
    margin: 10px 30px 10px 0px;
}

.contacts > div {
    display: flex;
    flex-flow: row wrap; 
    align-items: center;

    margin-top: 1rem;
}

.contacts > div > img {
    min-width: 4%;
    max-width: 8%;
}

.textStyle {
    margin: 20px 0px;
}

.textStyle h4{
    font-size: 24px;
    color: #ED6A6D;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.textStyle h4._anim-items {
    opacity: 0;
    transform: translate(-50%, 0px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.textStyle h4._anim-items.active-anime{
    opacity: 1;
    transform: translate(0px, 0px);
}

.nameText > h4:first-child {
    margin: 0px;
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
} 

.nameText > h4:first-child.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.nameText > h4:nth-child(2) {
    transform: translate(50%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
} 

.nameText > h4:nth-child(2).active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.nameText > p.myPosition._anim-items {
    transform: translate(0px, 20%);
    opacity: 0;
    transition: all 0.4s ease 0.6s;
} 

.nameText > p.myPosition._anim-items.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.textStyle .subtitle h4{
    min-width: 100px;
    font-size: 18px;
    color: #000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.textStyle p{
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.personalInfo p {
    min-width: 200px;
    margin-left: 10px;
}

.textStyle p._anim-items {
    transform: translate(20%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.textStyle p._anim-items.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
}

.subtitle > p._anim-items{
    transform: translate(50%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.subtitle > p._anim-items.active-anime{
    transform: translate(0px, 0px);
    opacity: 1;
}

.contacts div._anim-items {
    transform: translate(60%, 0px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.contacts > div._anim-items.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
}

/**/

.nameText h4{
    font-size: 50px;
    width: 50px;
}

.nameText p{
    font-size: 24px;
    margin-left: -60px;
    margin-top: -20px;
}

/**/

.hobbies {
    width: 80%;
}

.hobbiesList {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between; 
}

.hobbiesList > div {
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.hobbiesList > div > p {
    font-size: 17px;
}

.hobbiesList > div > img {
    max-width: 150px;
    min-width: 50px;
    font-size: 17px;
}

.hobbiesList p._anim-items {
    transform: translate(0px, 100%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.7s ease;
}

.hobbiesList img._anim-items {
    transform: scale(0);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.hobbiesList p._anim-items.active-anime {
    transform: translate(0px, 0px);
    opacity: 1;
}

.hobbiesList img._anim-items.active-anime:hover {
    transform: scale(1.2);
}

.hobbiesList img._anim-items.active-anime {
    transform: scale(1);
    opacity: 1;
}

/**/

.skills {
    width: 80%;
}

.skillsList {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.skillsList > ul > li{
    margin: 20px 0px 20px 0px;
    padding: 0px 10px 0px 10px;
    list-style-image: url(src/Ellipse1.svg);
}

.skillsList > ul > li > p {
    font-size: 18px;
    
}

.skillsList._anim-items > ul > li > p {
    transform: translate(100%, 0px );
    opacity: 0;
    transition: all 0.7s ease;
}

.skillsList._anim-items.active-anime > ul > li > p {
    transform: translate(0px, 0px);
    opacity: 1;
}

/**/

.tools {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.double-border {
  border-style:solid;
  border-image: url('/src/bdr.svg') 20 / 30px stretch;

  border-image-slice: 50 48 50 50;
  border-image-outset: 1em;
  border-image-width: 35;
  /* width: 16em;
  height: 16em; */
  position: relative;
  margin: 0 auto;
}

.double-border:before {
  border: 4px dotted #000;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 90px;
  bottom: 70px;
  pointer-events: none;
}

.toolsList {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.toolsList > div {
    margin: 10px;
}

.bar {
    position: relative;
    min-width: 100px;
    min-height: 10px;
    border: 3px solid black;
}

.fillBar {
    position: absolute;
    background-color: #5ebfbc;
    min-height: 100%;
}

.tools._anim-items > .toolsList > .subtitle > .bar > .fillBar {
    width: 0%;
    transition: width 1s ease-in-out;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(1) > .bar > .fillBar {
    width: 45%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(2) > .bar > .fillBar._anim-items.active-anime {
    width: 80%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(3) > .bar > .fillBar {
    width: 25%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(4) > .bar > .fillBar {
    width: 70%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(5) > .bar > .fillBar {
    width: 27%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(6) > .bar > .fillBar {
    width: 50%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(7) > .bar > .fillBar {
    width: 50%;
}

.tools._anim-items.active-anime > .toolsList > .subtitle:nth-child(8) > .bar > .fillBar {
    width: 60%;
}

/**/

.personalInfo {
    margin-top: 4rem;
    width: 80%;
}

.infoList {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
}

.infoList > div {
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.infoList._anim-items > div > div {
    opacity: 0;
    transform: translate(120%, 0px);
    transition: all 0.7s ease;
}

.infoList._anim-items.active-anime > div > div {
    opacity: 1;
    transform: translate(0px, 0px);
}

.infoList._anim-items > div > p {
    opacity: 0;
    transform: translate(-120%, 0px);
    transition: all 0.7s ease;
}

.infoList._anim-items.active-anime > div > p {
    opacity: 1;
    transform: translate(0px, 0px);
}

/**/

.declaration {
    width: 80%;
    height: 30rem;

    justify-content: space-around;
    display: flex;
    flex-flow: column nowrap;
}

.declaration > p {
    font-size: 17px;
}

.declaration > div:nth-last-child(2) {
    display: flex;
    flex-flow: column nowrap;   
    align-items: center;
}
    
.satodsan-uvemopag {
    white-space: normal;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

/**/

@media only screen and (max-width: 600px) {

    .toolsList > .subtitle > .bar {
        max-width: 150px;
        min-width: 150px;
    }

    .textStyle {
        width: 80%;
    }

    .infoContent > div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .infoContent > div > div{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .hobbiesList {
        justify-content: center;
    }

    .skillsList {
        justify-content: left;
    }
    
    .nameText h4{
        font-size: 30px;
    }

    .nameText p{
        font-size: 20px;
    }

    .redTriangle._anim-items {
        top:5%;
    }

    .redTriangle2._anim-items {
        top: 365%;
    }

    .hobbiesList {
        justify-content: center;
    }

    main {
        width: 100%;
    }

    .nameText p{
        margin-left: 0;
    }
}
 
@media only screen and (min-width: 600px) {

    .toolsList > .subtitle > .bar {
        max-width: none;
        min-width: 200px;
    }

    .textStyle {
        width: 80%;
    }

    .infoContent > div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .infoContent > div > div{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .nameText h4{
        font-size: 50px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    .hobbiesList {
        justify-content: space-between;
    }

    .nameText p{
        font-size: 24px;
    }

    .skillsList {
        justify-content: space-between;
    }

    .redTriangle._anim-items {
        top:15%;
    }

    .redTriangle2._anim-items {
        top: 366%;
    }

    main {
        width: 100%;
    }

    .nameText p{
        margin-left: -60;
    }
}
 
@media only screen and (min-width: 768px) {

    .infoContent > div {
        flex-wrap: nowrap;
    }

    .infoContent > div > div{
        flex-wrap: nowrap;
        width: 50%;
        justify-content: space-between;
    }
    .nameText h4{
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
    }
    .hobbiesList {
        justify-content: space-between;
    }

    main {
        width: 80%;
    }
    
}
 
@media only screen and (max-width: 1028px) {
    .toolsList {
        justify-content: center;
    }

    .redTriangle._anim-items {
        top:15%;
    }
}

@media only screen and (min-width: 1028px) {

    .redTriangle._anim-items {
        top:20%;
    }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 1535px) {
    .toolsList {
        padding: 0px 30px 20px 0px;
    }
    .tools {
        padding: 20px 75px 70px 10px;
    }

    .double-border {
        border-image-width: 40;
    }
}

@media only screen and (min-width: 1536px) {

    .toolsList {
        padding: 0px 70px 60px 0px;
    }
}